@page
@model ManResort.Pages.PaymentFailedModel
@{
    ViewData["Title"] = "Payment Failed";
}
<br />
<br />
<div class="tikform-container" style="background-color: red">
<div style="text-align: center; color: white; margin-top: 50px;">
    <h1 style="color: white">Payment Failed</h1>
    <p>Unfortunately, your payment could not be processed.</p>
    <p>Please try again or contact our support team for assistance.</p>
    <a href="/Tickets" class="btn btn-danger" style="background-color: royalblue; color: white; text-decoration: none; padding: 10px 20px;">Try Again</a>
</div>
</div>
